* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --animate-duration: 1250ms
}


/* INDEX, HEADER Y FOOTER------------------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
    background-color: #090503;
    font-family: 'Radio Canada', sans-serif;
}

.container-header {
    height: 60px;
}

.header {
    height: 60px;
    display: flex;
    background-color: #020003;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.header__logo {
    padding: 15px;
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 45px;
}

.header__logo-img {
    transition: all 1.3s;
}

.header__logo-img:hover {
    transform: rotate(360deg);
}

.header__logo-nombre {
    display: flex;
    padding: 10px;
    color: aliceblue;
}

.header__logo-nombre h1 {
    font-size: 35px;
}

.header__logo-nombre h2 {
    font-style: italic;
    font-size: 18px;
    align-self: flex-end;
}

.header__navegador ul {
    list-style: none;
}

.header__navegador-ul {
    display: flex;
    margin-right: 40px;
}

.header__navegador-ul li {
    display: flex;
    height: 60px;
    align-items: center;
}

.header__navegador-ul li a:hover {
    background-color: palegoldenrod;
    color: #141414;
    transform: scale(1.2);
}

.header__navegador-ul li a {
    display: flex;
    height: 35px;
    width: 150px;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
    transition: all 0.6s;
    margin: 15px;
    text-decoration: none;
}

.menu-nav__button {
    display: none;
}

.hub-size {
    height: 874px;
    width: 100%;
}

.hub-size img {
    width: 100%;
    height: 100%;
    filter: opacity(60%) blur(10px);
    z-index: -1;
    position: relative;
}

.hub-size h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 22%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 74px;
    font-weight: 400;
}

.footer {
    display: flex;
    background-color: #141414;
    width: 100%;
    height: 35px;
    align-items: flex-end;
}

.footer p {
    display: inline-block;
    margin: 0 0 7px 20px;
    color: aliceblue;
}


/* INDEX, HEADER Y FOOTER------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PAGINA TATUAJES-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 40px;
    margin: 50px 0 50px 0;
    color: aliceblue;
    text-align: center;
}

section {
    width: 100%;
}

.tattoo-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    height: 600px;
    background-color: #22151d;
    overflow: hidden;
}

.tattoo-menu__container {
    display: inline-block;
    border: solid black 6px;
    position: relative;
    width: 18%;
    height: 430px;
    border-radius: 30px;
}

.tattoo-menu__container img {
    width: 100%;
    height: 350px;
    border-radius: 23px;
}

.tattoo-menu__container div {
    background-color: black;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.tattoo-menu__container div a {
    text-decoration: none;
    width: 200px;
    height: 40px;
    border-radius: 18px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    color: #141414;
    transition: all 1s;
}

.tattoo-menu__container div a:hover {
    background-color: rgba(155, 147, 98, 0.555);
    color: antiquewhite;
    transform: scale(1.24);
}

.galeria {
    height: 1100px;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    justify-content: center;
    column-gap: 70px;
    row-gap: 70px;
    padding-top: 40px;
}

.galeria__img {
    height: 500px;
    width: 500px;
    border: palegoldenrod 4px solid;
    transition: all 1.6s;
}

.galeria__img:hover {
    transform: scale(1.12);
}

.second-title {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
}

.id-galeria {
    height: 50px;
}


/* PAGINA TATUAJES-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PAGINA PRECIOS-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.precios {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.precios article {
    background-color: palegoldenrod;
    width: 930px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 150px;
    border-radius: 30px;
    padding-top: 30px;
    margin-bottom: 40px;
}

.precios article ul {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
}

.precios ul li {
    margin: 15px;
}

.precios-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.precios-aside {
    display: flex;
    flex-direction: column;
    background-color: #FCFBEE;
    width: 340px;
    height: 700px;
    font-size: 18px;
    position: sticky;
    top: 75px;
    right: 100px;
    border-radius: 30px;
    padding: 10px 40px 60px 40px;
    border: rgb(0, 0, 0) solid 4px;
}

.precios-aside h2 {
    align-self: center;
    margin: 10px;
}

.anchor {
    color: black;
}

.anchor:hover {
    color: rgb(46, 41, 41);
}


/* PAGINA PRECIOS-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PAGINA SOBRE NOSOTROS-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

main {
    display: flex;
    justify-content: center;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18130e;
    padding-top: 10px;
    width: 90%;
    border-radius: 40px 40px 0 0;
}

.about__article {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 10px 0 10px;
    padding: 20px 50px 35px 50px;
    background-color: #eee8aa;
    align-items: center;
}

.about__article-different {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 10px 0 10px;
    padding: 20px 50px 35px 50px;
    background-color: palegoldenrod;
    align-items: center;
    border-radius: 30px 30px 0 0;
}

.about article h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.txt {
    font-size: 22px;
    text-align: center;
    margin: 10px;
}

iframe {
    width: 100%;
    margin-top: 30px;
}


/* PAGINA SOBRE NOSOTROS-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PAGINA CONTACTANOS-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 241, 238, 0.904);
    width: 90%;
    align-self: center;
    border-radius: 30px 30px 0 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    background-color: palegoldenrod;
    width: 75%;
    height: 564px;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.contact-form h3 {
    font-size: 25px;
    text-align: center;
    margin: 20px;
    width: 85%;
    margin: 50px 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    align-items: center;
}

.form-container input {
    width: 300px;
    border: #020003 solid 3px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Radio Canada', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.form-container-different {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 300px;
    align-items: center;
}

.form-container-different textarea {
    width: 700px;
    height: 230px;
    margin-bottom: 20px;
    border: #020003 solid 3px;
    border-radius: 10px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.form-container-different input {
    border: #020003 solid 3px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
}


/* PAGINA CONTACTANOS-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Media Queries--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1560px) {
    .header__logo-nombre h2 {
        display: none;
    }
}

@media screen and (max-width: 1412px) {
    .menu-nav {
        display: inline-block;
        height: 100%;
    }
    .menu-nav__button {
        width: 100px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }
    .menu-nav__button img {
        height: 50px;
    }
    .menu-nav__button:hover {
        transform: translateX(-15px);
    }
    .header__navegador-ul {
        position: absolute;
        display: none;
        list-style: none;
        width: 220px;
    }
    .menu-nav:hover .header__navegador-ul {
        display: flex;
        right: 0;
        flex-direction: column;
        background-color: #141414;
        margin: 0 0 0 0;
        align-items: center;
        border-radius: 0 0 45px 45px;
        padding: 0 10px 10px 10px;
    }
}

@media screen and (max-width: 768px) {
    .header__logo img {
        width: 40px;
    }
    .header__logo-nombre h1 {
        font-size: 30px;
    }
    .hub {
        height: 700px;
    }
    .hub h3 {
        font-size: 45px;
        bottom: 30%;
    }
}

@media screen and (max-width:435px) {
    .hub h3 {
        font-size: 35px;
    }
    .footer {
        height: 50px;
    }
}

@media screen and (max-width:367px) {
    .header__logo-nombre h1 {
        font-size: 20px;
    }
}

@media screen and (max-width:1200px) {
    .tattoo-menu {
        height: 900px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    .tattoo-menu__container {
        width: 300px;
        height: 400px;
        margin: 10px;
    }
    .tattoo-menu__container img {
        height: 300px;
    }
    .galeria__img {
        width: 400px;
        height: 400px;
        justify-items: center;
    }
    .galeria {
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px;
        height: 900px;
    }
}

@media screen and (max-width:930px) {
    .galeria__img {
        width: 300px;
        height: 300px;
        justify-items: center;
    }
    .galeria {
        height: 700px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
    }
}

@media screen and (max-width:700px) {
    .tattoo-menu {
        height: 700px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    .tattoo-menu__container {
        width: 200px;
        height: 300px;
        margin: 10px;
    }
    .tattoo-menu__container img {
        height: 200px;
    }
    .galeria__img {
        width: 280px;
        height: 280px;
        justify-items: center;
    }
    .galeria {
        grid-template-columns: 280px;
        grid-template-rows: repeat(4, 280);
        height: 1450px;
    }
    .tattoo-menu__container div a:hover {
        transform: none;
    }
    .title h1 {
        font-size: 45px;
    }
    .second-title {
        font-size: 35px;
    }
}

@media screen and (max-width:470px) {
    .tattoo-menu {
        height: 300px;
    }
    .tattoo-menu__container img {
        display: none;
    }
    .tattoo-menu__container {
        height: 40px;
        width: 200px;
    }
    .tattoo-menu__container div {
        height: 40px;
        border-radius: 20px;
    }
}

@media screen and (max-width:1700px) {
    .precios-aside {
        position: relative;
        height: 380px;
        width: 800px;
        top: 0;
        right: 0;
        margin-bottom: 20px;
    }
    .precios-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .precios article {
        left: 0;
    }
    .precios {
        align-items: center;
    }
}

@media screen and (max-width:960px) {
    .precios article {
        width: 700px;
    }
    .precios-aside {
        position: relative;
        height: 500px;
        width: 600px;
    }
}

@media screen and (max-width:768px) {
    .precios article {
        width: 500px;
    }
    .precios-aside {
        position: relative;
        height: 550px;
        width: 420px;
    }
}

@media screen and (max-width:540px) {
    .precios article {
        width: 300px;
        height: 300px;
        font-size: 18px;
    }
    .precios-aside {
        position: relative;
        height: 680px;
        width: 200px;
        font-size: 14px;
    }
    .precios article h2 {
        text-align: center;
    }
}

@media screen and (max-width:1400px) {
    .about__article {
        width: 1000px;
    }
    .about__article-different {
        width: 1000px;
    }
    .about {
        width: 1150px;
    }
}

@media screen and (max-width:1200px) {
    .about__article {
        width: 700px;
    }
    .about__article-different {
        width: 700px;
    }
    .about {
        width: 850px;
    }
}

@media screen and (max-width:900px) {
    .about__article {
        width: 450px;
    }
    .about__article-different {
        width: 450px;
    }
    .about {
        width: 600px;
    }
}

@media screen and (max-width:650px) {
    .about__article {
        width: 300px;
    }
    .about__article-different {
        width: 300px;
    }
    .about {
        width: 450px;
    }
}

@media screen and (max-width:475px) {
    .about__article,
    .about__article-different {
        width: 150px;
    }
    .about {
        width: 300px;
    }
    .txt {
        font-size: 18px;
        text-align: left;
    }
    .about article h2 {
        font-size: 28px;
    }
}

@media screen and (max-width:1100px) {
    .contact-form p {
        font-size: 25px;
    }
    .form-container-different textarea {
        width: 500px;
    }
}

@media screen and (max-width:836px) {
    .contact-form p {
        font-size: 20px;
    }
    .form-container-different textarea {
        width: 300px;
    }
}

@media screen and (max-width:510px) {
    .contact-form p {
        font-size: 20px;
    }
    .form-container-different textarea,
    .form-container input {
        width: 180px;
    }
    .form-container-different label,
    .form-container label {
        font-size: 18px;
    }
}


/* Media Queries--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/