$bg-brown:#18130e;
$black: #020003;
$yellow: palegoldenrod;
$white: aliceblue;
$violet: #22151d;
$gray:rgb(46, 41, 41);
$stron-gray:#141414;
$bg-body: #090503;
$contact-white: rgba(245, 241, 238, 0.904);
$about-border:40px 40px 0 0;
$txt-size:22px;
$border-top: 30px 30px 0 0;
$h2-size: 35px;
$h2-color: black;
$h2-margin: 20px;
$h2-textalign: center;