main {
    @extend %display-jc_cen;
    .about {
        width: 100%;
        @extend %display-col-ai_cen;
        background-color: lighten($bg-brown, 10%);
        padding-top: 10px;
        width: 90%;
        border-radius: $about-border;
        .about__article {
            width: 90%;
            @extend %display-col-ai_cen;
            margin: map-get($article, article-margin);
            padding: map-get($article, article-padding);
            background-color: lighten(map-get($article, bg-article), 10%);
            h2 {
                @extend %display-jc_cen;
                @include h2-font($h2-size, $h2-color, $h2-margin, $h2-textalign);
            }
            .txt {
                font-size: $txt-size;
                text-align: center;
                margin: 10px;
            }
            .map {
                width: 100%;
                iframe {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .about-different {
            border-radius: $border-top;
        }
    }
}