* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --animate-duration: 1250ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1;
    color: $black;
}

li,
p {
    font-weight: 500;
    color: $black;
}